In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
from datetime import datetime
import statistics
%matplotlib inline

In [2]:
df = pd.read_excel('forbes_100.xlsx')

In [3]:
df

    Rank                  Name Age Earnings       Category
0      1            Sean Combs  47   $130 M      Musicians
1      2       Beyonc√© Knowles  35   $105 M      Musicians
2      3          J.K. Rowling  52    $95 M        Authors
3      4                 Drake  30    $94 M      Musicians
4      5     Cristiano Ronaldo  32    $93 M       Athletes
5      6            The Weeknd  27    $92 M      Musicians
6      7          Howard Stern  63    $90 M  Personalities
7      8              Coldplay   -    $88 M      Musicians
8      9       James Patterson  70    $87 M        Authors
9     10          LeBron James  32    $86 M       Athletes
10    11         Guns N' Roses   -    $84 M      Musicians
11    11         Rush Limbaugh  66    $84 M  Personalities
12    13         Justin Bieber  23  $83.5 M      Musicians
13    14          Lionel Messi  30    $80 M       Athletes
14    15       Dr. Phil McGraw  66    $79 M  Personalities
15    16       Ellen DeGeneres  59    $77 M  Personalities
16    17     Bruce Springsteen  67    $75 M      Musicians
17    18                 Adele  29    $69 M      Musicians
18    18        Jerry Seinfeld  63    $69 M      Comedians
19    20         Mark Wahlberg  46    $68 M         Actors
20    21             Metallica   -  $66.5 M      Musicians
21    22        Dwayne Johnson  45    $65 M         Actors
22    23         Roger Federer  35    $64 M       Athletes
23    24     David Copperfield  60  $61.5 M      Magicians
24    25          Kevin Durant  28  $60.6 M       Athletes
25    26          Garth Brooks  55    $60 M      Musicians
26    26            Elton John  70    $60 M      Musicians
27    26         Gordon Ramsay  50    $60 M  Personalities
28    29         Ryan Seacrest  42    $58 M  Personalities
29    30            Chris Rock  52    $57 M      Comedians
..   ...                   ...  ..      ...            ...
70    71           Salman Khan  51    $37 M         Actors
71    71                Neymar  25    $37 M       Athletes
72    71         Bill O'Reilly  67    $37 M  Personalities
73    71          Dolly Parton  71    $37 M      Musicians
74    71            Ed Sheeran  26    $37 M      Musicians
75    76           Dwyane Wade  35  $36.2 M       Athletes
76    77       Fernando Alonso  36    $36 M       Athletes
77    77          Sean Hannity  55    $36 M  Personalities
78    77               Rihanna  29    $36 M      Musicians
79    80              Bon Jovi   -  $35.5 M      Musicians
80    80          Akshay Kumar  49  $35.5 M         Actors
81    82            Billy Joel  68    $35 M      Musicians
82    83               Dr. Dre  52  $34.5 M      Musicians
83    83  Florida Georgia Line   -  $34.5 M      Musicians
84    83            Toby Keith  55  $34.5 M      Musicians
85    83         Jordan Spieth  24  $34.5 M       Athletes
86    87          Derrick Rose  28  $34.3 M       Athletes
87    88            Usain Bolt  30  $34.2 M       Athletes
88    89           Gareth Bale  28    $34 M       Athletes
89    89        Conor McGregor  29    $34 M       Athletes
90    89        Britney Spears  35    $34 M      Musicians
91    92         Kei Nishikori  27  $33.9 M       Athletes
92    93          Fletcher Cox  26  $33.4 M       Athletes
93    94       Clayton Kershaw  29  $33.3 M       Athletes
94    95     Chance The Rapper  24    $33 M      Musicians
95    95            Katy Perry  32    $33 M      Musicians
96    97       Carmelo Anthony  33  $32.6 M       Athletes
97     8          Jason Aldean  40  $32.5 M      Musicians
98    98            Kevin Hart  38  $32.5 M      Comedians
99   100    Zlatan Ibrahimovic  35    $32 M       Athletes

[100 rows x 5 columns]